#tagCreation {
    margin-right: 40px;

    .tagInput {
        display: flex;
        margin-left: 10px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .xButton {
        margin: 0;
    }
}
