button {
    background: none;
}

.btn {
    border: none;
    color: $clr-font;
    background: $clr-primary;
    padding: 10px 20px;

    border-radius: $border-radius;

    text-decoration: none;

    &-primary {
        background: $clr-primary;

        &:hover {
            filter: brightness(110%);
        }
    }
}
