$navbar-width: 6.5rem;

#root {
    min-height: 100vh;

    #app {
        --navbar-width: #{$navbar-width};

        display: grid;

        grid-template-columns: $navbar-width 1fr;
        grid-template-rows: 1;

        height: 100vh;
        max-height: 100vh;

        // overflow-x: hidden;

        .app-content {
            display: flex;
            flex-direction: column;
        }
    }
}
