@import "../base/variables";
@import "../abstractions/colors";

.theme-dark {
    --bg-color: #{clr(background, dark)};
    --bg-color-inverse: #{clr(background, light)};

    --font-color: #{clr(font, dark, default)};
    --font-color-inverse: #{clr(font, dark, inverse)};

    --border-color: #{rgba(clr(font, dark, default), 0.2)};
}
