@import "../abstractions/colors";

:root {
    --clr-primary: #{clr(primary)};
}

* {
    font-family: "Roboto", sans-serif;
}

p,
button {
    font-size: 1.6rem;
}

p {
    .inverse {
    }
}

a {
    color: var(--clr-primary);
}

div {
    &.primary {
        background-color: var(--clr-primary);
    }
    &.inverse {
        background-color: var(--bg-color-inverse);
    }
}
